@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.body1{
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.tbl-header{
    background-color: rgba(255,255,255,0.3);
}

.tbl-content{
    overflow-x: auto;
    margin-top: 0;
    border: 1px solid rgba(255,255,255,0.3);
    background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
}

table{
    width: 100%;
    table-layout: fixed;
}

th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    background-color: #ffffff; /* Ensure the header has a solid background */
}

td{
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    color: black;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    background-color: #ffffff; /* Ensure each cell has a solid background */
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(201, 36, 36, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.widget-main-logged {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100%;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.link-btn {
    text-decoration: none;
}

.table-row{
    display: flex;
    flex-direction: row;
    gap: 15%;
}

.table-row >p {
    padding-top: 5px;
}

.export-to-xml{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 5%;
}
.dark-mode {
    background-color: #333; /* Dark background for dark mode */
    color: #fff; /* Light text for better readability */
}

.widget-main-logged.dark-mode
{
    background-color: #333; /* Dark mode background color for the main widget area */
}
.body1.dark-mode {
    background-image: linear-gradient(135deg, #183D3D 40%, #93B1A6); /* Dark mode background color for the main widget area */
}

.tbl-header.dark-mode,
.tbl-content.dark-mode {
    background-color: #333; /* Slightly lighter background for tables in dark mode */
}

th.dark-mode,
td.dark-mode {
    color: #ccc; /* Lighter text color for table headers and cells */
}


@media (max-width: 970px) {
    .widget-main-logged{
        width: 70vw;
    }
}

