.log-out-container {
    height: 100%;
   padding-top: 20%;
}

.settings-overview-widget{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    gap: 3%;
}
